.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.feature-bar {
  display: flex;
  gap: 40px;
  padding: 20px 40px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 10px 12px rgba(0,0,0,0.1);
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #1e293b;
}

.feature:hover {
  background-color: #004588;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.feature {
  font-size: 26px;
}

.feature p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}